.Header {
  background: #002C4A;
  height: 160px;
  
  .navbar-nav .show>.nav-link{
    color: #0063A7!important;
  }
  
  .navbar-light .navbar-brand  {
    font-weight: 500;
    color: #459CD9;
  }
  .navbar-nav .nav-link{
    font-weight: 500;
    color: #FFFFFF;
  }
  
  .dropdown-menu {
    position: absolute;
    background: #FFFFFF;
    border: none;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
  }
}
